:root {
    --empty-color: grey;
    --fill-color: hsl(40, 45%, 29%);
    --circle-color: rgb(210, 220, 73);
}

* {
    font-family: sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: palegoldenrod;
    overflow: 0;
    margin: 0;
}

.container {
    text-align: center;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    width: 300px;
    max-width: 100%;
    margin-bottom: 30px;
    position: relative;
}

.progress-container::before {
    content: '';
    position: absolute;
    width: 100%;
    background-color: var(--empty-color);
    height: 4px;
    top: 50%;
    left: 0;
    z-index: -1;
    transform: translateY(-50%);
}


.progress {
    position: absolute;
    width: 0%;
    background-color: var(--fill-color);
    height: 4px;
    top: 50%;
    left: 0;
    z-index: -1;
    transform: translateY(-50%);
    transition: 1s ease-in;
}

.circle {
    border-radius: 50%;
    background-color: var(--circle-color);
    border: 3px solid var(--empty-color);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle.active {
    border-color: var(--fill-color);
}

.btn {
    cursor: pointer;
    background-color: var(--circle-color);
    padding: 10px 35px;
    margin: 5px;
    border-radius: 6px;
    border: none;
    color: black;
}

.btn:disabled {
    cursor: not-allowed;
}